@model CitaModel

@{
    ViewData["Title"] = "Editar Cita";
}

<form asp-action="CitaEdit" method="post" class="p-4 shadow-sm bg-white rounded">
    <h3 class="mb-4">@ViewData["Title"]</h3>
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="All" class="text-danger mb-3"></div>

    <div class="mb-3">
        <label for="nombredecita" class="form-label">Nombre de Cita</label>
        <input asp-for="NombreDeCita" type="text" class="form-control" placeholder="Escriba el nombre de la cita" />
    </div>

    <div class="mb-3">
        <label for="telefono" class="form-label">Teléfono</label>
        <input asp-for="Telefono" type="text" class="form-control" placeholder="Escriba el teléfono" />
    </div>

    <div class="mb-3">
        <label for="doctor" class="form-label">Doctor</label>
        <select class="form-select" asp-for="DoctorId" asp-items="@Model.ListaDoctores">
            <option>Seleccionar Doctor</option>
        </select>
    </div>

    <div class="mb-3">
        <label for="fechadecita" class="form-label">Fecha de Cita</label>
        <input asp-for="FechaDeCita" type="datetime-local" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mb-3">Guardar</button>
    <a class="btn btn-outline-secondary mb-3" asp-controller="Cita" asp-action="CitaList">Regresar</a>
</form>
