@model DoctorModel

@{
    ViewData["Title"] = "Borrar Doctor";
}

<h3 class="mb-3">Borrar Doctor</h3>

<form asp-action="DoctorDeleted" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Información del Doctor</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">¿Está seguro que quiere borrar el doctor?</h6>
            <p class="card-text">Nombre: @Model.Nombre</p>
            <p class="card-text">Especialidad: @Model.Especialidad</p>
            <p class="card-text">Experiencia: @Model.Experiencia</p>
            <p class="card-text">Educación: @Model.Educacion</p>
            
        </div>
    </div>

    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-action="DoctorList" asp-controller="Doctor">Cancelar</a>
</form>
